@tailwind base;
@tailwind components;
@tailwind utilities;

th{
  background-color: lightgrey;
}

td {
  border: 0.3px solid lightgrey;
  padding: 5px;
  text-align: center;
}

#slideContainer{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 1 !important;
  display: flex;
  justify-content: center;
  align-items:center;
}

#firstSlide{
  color:white;
  font-weight: bold;
  font-size:2rem;
  text-align: center;
  opacity: 0.0;
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  position: absolute;
}

@keyframes fadeIn {
0% {opacity:0;}
50% {opacity:1;}
99% {opacity:0;}
100% {display:hidden;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity:1;}
  99% {opacity:0;}
  100% {display:hidden;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity:1;}
  99% {opacity:0;}
  100% {display:hidden;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity:1;}
  99% {opacity:0;}
  100% {display:hidden;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity:1;}
  99% {opacity:0;}
  100% {display:hidden;}
}

#secondSlide{
  position: absolute;
  color:white;
  font-weight: bold;
  animation: fadeIn 3s ease 4s;
  -webkit-animation: fadeIn 3s ease 4s;
  opacity: 0.0;
  font-size:2rem;
}